statemachine/retrieve_joke.asl.json
{
  "Comment": "A state machine that retrieves jokes and stores them in a job table.",
  "StartAt": "Init Job",
  "States": {
    "Init Job": {
      "Type": "Task",
      "Resource": "${DDBPutJokesJob}",
      "Parameters": {
        "TableName": "${DDBTable}",
        "Item": {
          "Id": {
            "S.$": "$.ref"
          },
          "Akteur": {
            "S.$": "$.akteur"
          },
          "Status": "CREATED"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "ResultPath": null,
      "Next": "Retrieve Joke"
    },
    "Retrieve Joke": {
      "Type": "Task",
      "Resource": "${RetrieveJokeFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        }
      ],
      "Next": "Update Job Details"
    },
    "Update Job Details": {
      "Type": "Task",
      "Resource": "${DDBUpdateJokesJob}",
      "Parameters": {
        "TableName": "${DDBTable}",
        "Key": {
          "Id": {
            "S.$": "$.id"
          }
        },
        "UpdateExpression": "SET #txt = :textValue, #ts = :timestampValue, #sts = :statusValue",
        "ExpressionAttributeValues": {
          ":textValue": {"S.$": "$.text"},
          ":timestampValue": {"S.$": "$.timestamp"},
          ":statusValue": {"S": "FINISHED"}
        },
        "ExpressionAttributeNames": {
          "#txt": "Text",
          "#ts": "Timestamp",
          "#sts": "Status"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
